$black: black;
$black-10: rgba(0, 0, 0, .1);
$black-15: rgba(0, 0, 0, .15);
$black-20: rgba(0, 0, 0, .2);
$black-30: rgba(0, 0, 0, .3);
$black-40: rgba(0, 0, 0, .4);
$darker: #152128;
$darker-40: rgba(21, 32, 40, .4);  //  rgba($darker, .4)
$darker-50: rgba(21, 32, 40, .5);  //  rgba($darker, .5)
$darker-70: rgba(21, 32, 40, .7);  //  rgba($darker, .7)
$darker-80: rgba(21, 32, 40, .8);  //  rgba($darker, .8)
$darker-90: rgba(21, 32, 40, .9);  //  rgba($darker, .9)
$dark: #516272; //  #53689D  #546B86
$dark-two-10: rgba(81, 99, 120, .1);
$dark-two-20: rgba(81, 99, 120, .2);
$dark: #516378;
$dark-60: rgba(81, 99, 120, .6);
$dark-10: rgba(81, 99, 120, .1);  //  rgba(80, 99, 120, .1) rgba(81, 99, 119, .1)
$dark-15: rgba(81, 99, 120, .15);
$dark-20: rgba(81, 99, 120, .2);  //  rgba(80, 99, 120, .2) rgba(81, 99, 119, .2)
$dark-40: rgba(81, 99, 120, .4);
$dark-6: rgba(81, 99, 120, .06);
$gray: #7C858C;
$light: #98A7B3;  //  #97A7B4 #97A6B2
$light-50: rgba(152, 166, 179, .5);
$lighter: #E8EBED;
$smooth-sky: #87D5FF;
$sky: #00E2F5;
$sky-20: rgba(0, 221, 244, .2);
$magenta: #FF21A3;
$magenta-10: rgba(255, 33, 163, .1);
$yellow: #FFB000; //  #FFA908
$lemon: #EDED00;
$spring: #4BFF6B;
$green: #00D63D;
$cobalt: #00A6FF;
$cobalt-10: rgba(0, 195, 255, .1);  //  rgba(0, 165, 255, .1)
$cobalt-20: rgba(0, 195, 255, .2);
$blue: #4A4FEB;
$purple: #9270FF;
$navy: #1B1464;
$snow: #F3F4F5; //  #F2F2F2
$snow-60: rgba(243, 244, 245, .6);  //  rgba(243, 243, 244, .6)
$warm-grey-10: rgba(119, 119, 119, .1);
$white: white;
$white-30: rgba(255, 255, 255, .3);
$white-50: rgba(255, 255, 255, .5);
$white-70: rgba(255, 255, 255, .7);
$midnight: #36436B;
$midnight-hover: #2B3457;
$dawn: #5B83FE;
$dawn-hover: #4864CD;
$periwinkle: #A98FFF;
$pastel-purple: #B7A1FF;
$carolina-blue: #87A5FF;
$pastel-blue: #9DB5FE;
$pale-gray: #EEF1F4;
$warm-pink: #FF3D79;
$pale-grey-two: #E8EBED;
$pale-grey-three: #EAEFF4;
$charcoal-grey: #2B2F35;
$charcoal-grey-80: rgba(43, 47, 43, .8);  //  rgba(42, 47, 52, .8)
$charcoal-grey-90: rgba(43, 47, 43, .9);  //  rgba(43, 47, 52, .9)
$silver: #DCE0E4; //  #CFD2D4 #C9D0D5
$silver-two: #D2DADF;
$azure: #00A6FF;
$azure-two: #0095E4;
$azure-hover: #008AD4;
$watermelon: #FF4168;
$light-30: rgba(152, 166, 179, .3);
$cerulean: #007DC0;
$wheat: #FFD37E;
$off-white-two: #FFF6E1;
$pale-peach-two: #FFDEAD;
$ice-blue: #ECF9FF;
$pale-sky-blue: #B7E7FF;
$slate-three: #405064;

//  not registered in zeplin
$warm-dark: #404F5F;  //  #435262
$warm-dark-40: rgba(64, 79, 95, .4);  //  rgba(64, 80, 101, .4)
$soft-sky: #8FD8FF;
$charcoal-grey-two: #2F343A;
$azure-three: #00C3FF;
$deep-green: #00A02E;
$sun-yellow: #F5E11F;
$cadet-blue: #52689D;
$greenblue: #00D175;
$greenblue-two: #00B07F;
